.p-Home.Div6 {
height: 90vh;
width: ;
padding-left: 42px;
padding-right: 42px;
border-bottom-width: 1px;
border-bottom-color: #DFDFDF;
border-bottom-style: solid;
}
.p-Home.Flex6 {
display: inline-flex;
margin-left: ;
margin-right: 0px;
flex-direction: column;
margin-top: ;
align-self: flex-start;
padding-top: ;
height: 100%;
justify-content: center;
border-bottom-width: 0px;
border-bottom-style: none;
row-gap: ;
column-gap: ;
line-height: 45px;
align-items: stretch;
font-family: IBM Plex Sans;
}
.p-Home.Flex9 {
display: flex;
justify-content: flex-start;
column-gap: 10px;
font-size: 55px;
}
.p-Home.Div11 {
padding-top: 160px;
padding-left: 42px;
padding-right: 42px;
padding-bottom: 160px;
}
.p-Home.Flex13 {
display: flex;
margin-left: ;
margin-right: ;
justify-content: space-between;
align-items: center;
height: 100vh;
border-width: 1px;
border-color: #DFDEDE;
border-style: solid;
border-radius: 10px;
margin-top: 40px;
margin-bottom: 40px;
}
.p-Home.Div12 {
flex-grow: 1;
padding-right: 40px;
font-family: IBM Plex Sans;
padding-left: 40px;
padding-top: 32px;
margin-bottom: ;
padding-bottom: 32px;
}
.p-Home.Flex86 {
display: inline-flex;
align-items: center;
border-bottom-width: 2px;
border-bottom-color: #000000;
border-bottom-style: solid;
}
.p-Home.Div13 {
;
}
.p-Home.Flex88 {
display: flex;
margin-left: ;
margin-right: ;
justify-content: space-between;
align-items: center;
height: 100vh;
border-width: 1px;
border-color: #DFDEDE;
border-style: solid;
border-radius: 10px;
margin-top: 40px;
margin-bottom: 40px;
}
.p-Home.Div58 {
;
}
.p-Home.Div59 {
flex-grow: 1;
padding-right: 40px;
font-family: IBM Plex Sans;
padding-left: 40px;
padding-top: 32px;
margin-bottom: ;
padding-bottom: 32px;
}
.p-Home.Flex87 {
display: inline-flex;
align-items: center;
border-bottom-width: 2px;
border-bottom-color: #000000;
border-bottom-style: solid;
}
.p-Home.Flex90 {
display: flex;
margin-left: ;
margin-right: ;
justify-content: space-between;
align-items: center;
height: 100vh;
border-width: 1px;
border-color: #DFDEDE;
border-style: solid;
border-radius: 10px;
margin-top: 40px;
margin-bottom: 40px;
}
.p-Home.Div60 {
;
}
.p-Home.Div61 {
flex-grow: 1;
padding-right: 40px;
font-family: IBM Plex Sans;
padding-left: 40px;
padding-top: 32px;
margin-bottom: ;
padding-bottom: 32px;
}
.p-Home.Flex89 {
display: inline-flex;
align-items: center;
border-bottom-width: 2px;
border-bottom-color: #000000;
border-bottom-style: solid;
}
.p-Home.Flex94 {
display: flex;
margin-left: ;
margin-right: ;
justify-content: space-between;
align-items: center;
height: 100vh;
border-width: 1px;
border-color: #DFDEDE;
border-style: solid;
border-radius: 10px;
margin-top: 40px;
margin-bottom: 40px;
}
.p-Home.Div64 {
;
}
.p-Home.Div65 {
flex-grow: 1;
padding-right: 40px;
font-family: IBM Plex Sans;
padding-left: 40px;
padding-top: 32px;
margin-bottom: ;
padding-bottom: 32px;
}
.p-Home.Flex93 {
display: inline-flex;
align-items: center;
border-bottom-width: 2px;
border-bottom-color: #000000;
border-bottom-style: solid;
}
.p-Home.Div68 {
align-self: auto;
text-align: center;
}
.p-Home.Flex97 {
display: inline-flex;
align-items: center;
border-bottom-width: ;
border-bottom-color: #000000;
border-bottom-style: none;
justify-content: flex-start;
}
.p-Home.Flex33 {
display: flex;
margin-left: ;
margin-right: ;
justify-content: space-between;
align-items: center;
height: 130vh;
border-width: 1px;
border-color: #DFDEDE;
border-style: solid;
border-radius: 10px;
margin-bottom: 0px;
margin-top: ;
padding-bottom: 106px;
padding-left: 42px;
padding-right: 42px;
padding-top: 160px;
position: relative;
}
.p-Home.Flex96 {
display: flex;
margin-left: ;
margin-right: ;
justify-content: space-between;
align-items: center;
height: ;
border-width: 0px;
border-color: #DFDEDE;
border-style: solid;
border-radius: 10px;
margin-top: 0px;
margin-bottom: ;
flex-wrap: nowrap;
box-sizing: border-box;
}
.p-Home.Div66 {
box-sizing: border-box;
width: 48%;
}
.p-Home.Div67 {
flex-grow: 1;
padding-right: 48px;
font-family: IBM Plex Sans;
padding-left: 0px;
padding-top: ;
margin-bottom: ;
padding-bottom: ;
box-sizing: border-box;
width: 48%;
}
.p-Home.Flex95 {
display: inline-flex;
align-items: center;
border-bottom-width: 0px;
border-bottom-color: #000000;
border-bottom-style: none;
}
.p-Home.Div69 {
;
}
.p-Home.Flex39 {
display: flex;
margin-bottom: 0px;
padding-top: 160px;
flex-direction: column;
padding-bottom: 160px;
padding-left: 42px;
padding-right: 42px;
}
.p-Home.Flex35 {
display: flex;
margin-bottom: ;
padding-left: ;
margin-right: ;
justify-content: flex-start;
align-items: center;
flex-direction: row;
}
.p-Home.Flex36 {
display: flex;
margin-left: ;
margin-right: ;
width: 100%;
justify-content: space-between;
margin-top: ;
align-items: center;
margin-bottom: 56px;
text-align: left;
}
.p-Home.Flex74 {
display: flex;
align-items: center;
margin-top: ;
margin-left: ;
margin-right: ;
border-bottom-width: 0px;
border-bottom-style: none;
font-size: 20px;
width: ;
}
.p-Home.Flex40 {
display: flex;
margin-left: ;
margin-right: ;
width: 100%;
justify-content: space-around;
flex-wrap: wrap;
margin-bottom: ;
padding-bottom: ;
align-items: stretch;
}
.p-Home.Div28 {
width: 30%;
margin-bottom: 72px;
border-bottom-width: 2px;
border-bottom-style: solid;
padding-bottom: 40px;
font-family: IBM Plex Sans;
margin-left: ;
margin-right: ;
}
.p-Home.Div70 {
width: 30%;
margin-bottom: 72px;
border-bottom-width: 2px;
border-bottom-style: solid;
padding-bottom: 40px;
font-family: IBM Plex Sans;
margin-left: ;
margin-right: ;
}
.p-Home.Div71 {
width: 30%;
margin-bottom: ;
border-bottom-width: 2px;
border-bottom-style: solid;
padding-bottom: 40px;
font-family: IBM Plex Sans;
}
.p-Home.Div72 {
width: 30%;
margin-bottom: ;
border-bottom-width: 2px;
border-bottom-style: solid;
padding-bottom: 40px;
font-family: IBM Plex Sans;
}
.p-Home.Div73 {
width: 30%;
margin-bottom: ;
border-bottom-width: 2px;
border-bottom-style: solid;
padding-bottom: 40px;
font-family: IBM Plex Sans;
}
.p-Home.Div74 {
width: 30%;
margin-bottom: 72px;
border-bottom-width: 2px;
border-bottom-style: solid;
padding-bottom: 40px;
font-family: IBM Plex Sans;
margin-left: ;
margin-right: ;
}
.p-Home.Flex43 {
display: flex;
margin-bottom: ;
border-top-width: 1px;
border-top-style: solid;
border-top-color: ;
border-width: 0px;
padding-left: 42px;
padding-right: 42px;
padding-top: 160px;
padding-bottom: 160px;
flex-direction: column;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #dfdfdf;
}
.p-Home.Flex42 {
display: flex;
margin-left: ;
margin-right: ;
width: 100%;
justify-content: space-between;
margin-top: ;
border-top-width: ;
border-top-style: none;
border-top-color: #464646;
padding-bottom: ;
padding-top: 0px;
margin-bottom: 56px;
}
.p-Home.Flex76 {
display: flex;
align-items: center;
margin-top: 0px;
margin-left: ;
margin-right: ;
border-bottom-width: 0px;
border-bottom-style: none;
font-size: 20px;
width: ;
}
.p-Home.Flex99 {
display: flex;
justify-content: space-between;
padding-bottom: 40px;
border-bottom-width: 1px;
border-bottom-color: #dfdfdf;
border-bottom-style: solid;
margin-bottom: 40px;
}
.p-Home.Div75 {
flex-grow: 6;
margin-right: 16px;
align-self: center;
}
.p-Home.Flex100 {
display: flex;
justify-content: space-between;
padding-bottom: 40px;
border-bottom-width: 0px;
border-bottom-color: #dfdfdf;
border-bottom-style: none;
}
.p-Home.Div76 {
flex-grow: 6;
margin-right: 16px;
align-self: center;
}
.p-Home.Flex77 {
display: flex;
padding-left: 40px;
padding-right: 40px;
}
.p-Home.Flex78 {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex79 {
display: flex;
}
.p-Home.Flex83 {
display: flex;
padding-left: 42px;
margin-right: ;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 42px;
}
.p-Home.Flex84 {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
}
.p-Home.Div56 {
;
}
.p-Home.Flex85 {
display: flex;
font-family: IBM Plex Sans;
align-items: center;
}
.p-Home.Flex104 {
display: flex;
margin-bottom: ;
}
.p-Home.Flex50 {
display: flex;
margin-left: 40px;
margin-right: 40px;
width: 100%;
justify-content: space-between;
align-items: center;
border-top-width: 0px;
border-top-style: none;
border-bottom-width: 0px;
border-bottom-style: solid;
padding-top: 150px;
padding-bottom: 150px;
margin-bottom: ;
flex-direction: column;
}
.p-Home.Flex101 {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: stretch;
}
.p-Home.Div77 {
padding-right: ;
width: 70%;
}
.p-Home.Flex51 {
display: flex;
margin-bottom: 20px;
}
.p-Home.Div78 {
align-self: flex-end;
width: 30%;
text-align: right;
}
.p-Home.Flex105 {
display: flex;
padding-left: 42px;
padding-right: 42px;
padding-top: 100px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #dfdfdf;
padding-bottom: ;
margin-bottom: ;
flex-direction: column;
}
.p-Home.Flex106 {
display: flex;
padding-left: ;
width: 100%;
justify-content: space-between;
column-gap: 40px;
margin-bottom: 100px;
}
.p-Home.Flex107 {
display: flex;
flex-direction: column;
margin-right: ;
}
.p-Home.Flex111 {
display: inline-flex;
align-items: center;
border-bottom-width: 0px;
border-bottom-color: #000000;
border-bottom-style: none;
}
.p-Home.Flex110 {
display: flex;
justify-content: flex-start;
flex-direction: column;
column-gap: ;
}
.p-Home.Flex116 {
display: flex;
justify-content: space-between;
}
.p-Home.Div81 {
margin-right: 29px;
}
.p-Home.Div84 {
margin-right: 29px;
}
.p-Home.Div85 {
margin-right: 29px;
}
.p-Home.Flex115 {
display: flex;
justify-content: flex-start;
flex-direction: column;
flex-grow: 25;
margin-right: ;
margin-left: 36px;
}
.p-Home.Div87 {
margin-right: 29px;
}
.p-Home.Flex117 {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 32px;
padding-bottom: 32px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #dfdfdf;
}
.p-Home.Flex118 {
display: flex;
justify-content: flex-start;
align-items: center;
}
.p-Home.Flex119 {
display: flex;
}
.p-Home.TextBox6 {
font-size: 60px;
line-height: 4rem;
max-width: ;
}
.p-Home.TextBox7 {
font-size: 22px;
line-height: 35px;
max-width: 40rem;
margin-top: 20px;
color: #686868;
}
.p-Home.TextBox10 {
border-bottom-width: 4px;
border-bottom-style: solid;
font-size: 60px;
padding-bottom: 15px;
margin-top: 15px;
}
.p-Home.TextBox11 {
align-self: center;
font-size: 60px;
}
.p-Home.TextBox151 {
font-size: 48px;
font-family: IBM Plex Sans;
font-weight: 500;
text-align: center;
}
.p-Home.TextBox16 {
font-size: 26px;
margin-bottom: 16px;
margin-top: ;
padding-left: 0px;
padding-right: ;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox17 {
font-size: 18px;
padding-left: ;
padding-right: ;
font-family: IBM Plex Sans;
font-weight: 400;
margin-bottom: 16px;
}
.p-Home.TextBox18 {
font-size: 18px;
color: #686868;
line-height: 30px;
padding-left: 0px;
padding-right: ;
margin-bottom: 48px;
}
.p-Home.Button63 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 20px;
border-radius: 0px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-top: 0px;
align-self: center;
}
.p-Home.Image65 {
height: 30px;
}
.p-Home.Image3 {
width: 40rem;
flex-grow: 1;
}
.p-Home.Image67 {
width: 40rem;
flex-grow: 1;
}
.p-Home.TextBox139 {
font-size: 18px;
color: #686868;
line-height: 30px;
padding-left: 0px;
padding-right: ;
margin-bottom: 48px;
}
.p-Home.TextBox140 {
font-size: 18px;
padding-left: ;
padding-right: ;
font-family: IBM Plex Sans;
font-weight: 400;
margin-bottom: 16px;
}
.p-Home.TextBox141 {
font-size: 26px;
margin-bottom: 16px;
margin-top: ;
padding-left: 0px;
padding-right: ;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image66 {
height: 30px;
}
.p-Home.Button64 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 20px;
border-radius: 0px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-top: 0px;
align-self: center;
}
.p-Home.Image69 {
width: 40rem;
flex-grow: 1;
}
.p-Home.TextBox142 {
font-size: 18px;
color: #686868;
line-height: 30px;
padding-left: 0px;
padding-right: ;
margin-bottom: 48px;
}
.p-Home.TextBox143 {
font-size: 18px;
padding-left: ;
padding-right: ;
font-family: IBM Plex Sans;
font-weight: 400;
margin-bottom: 16px;
}
.p-Home.TextBox144 {
font-size: 26px;
margin-bottom: 16px;
margin-top: ;
padding-left: 0px;
padding-right: ;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image68 {
height: 30px;
}
.p-Home.Button65 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 20px;
border-radius: 0px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-top: 0px;
align-self: center;
}
.p-Home.Image73 {
width: 40rem;
flex-grow: 1;
}
.p-Home.TextBox148 {
font-size: 18px;
color: #686868;
line-height: 30px;
padding-left: 0px;
padding-right: ;
margin-bottom: 48px;
}
.p-Home.TextBox149 {
font-size: 18px;
padding-left: ;
padding-right: ;
font-family: IBM Plex Sans;
font-weight: 400;
margin-bottom: 16px;
}
.p-Home.TextBox150 {
font-size: 26px;
margin-bottom: 16px;
margin-top: ;
padding-left: 0px;
padding-right: ;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image72 {
height: 30px;
}
.p-Home.Button67 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 20px;
border-radius: 0px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-top: 0px;
align-self: center;
}
.p-Home.Image76 {
height: 30px;
}
.p-Home.Button69 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 24px;
border-radius: 0px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-top: 0px;
align-self: center;
}
.p-Home.Image78 {
;
}
.p-Home.TextBox153 {
font-size: 22px;
color: #686868;
line-height: 36px;
padding-left: 0px;
padding-right: ;
margin-bottom: 48px;
}
.p-Home.TextBox155 {
font-size: 48px;
margin-bottom: 16px;
margin-top: ;
padding-left: 0px;
padding-right: ;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image74 {
height: 32px;
}
.p-Home.Button68 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 24px;
border-radius: 0px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-top: 0px;
align-self: center;
}
.p-Home.Image79 {
position: absolute;
right: 450px;
top: 150px;
}
.p-Home.TextBox36 {
align-self: center;
font-size: 48px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Button58 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 20px;
border-radius: 0px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-top: 0px;
align-self: center;
}
.p-Home.Image59 {
height: 2rem;
}
.p-Home.Image25 {
padding-bottom: 32px;
}
.p-Home.TextBox37 {
font-size: 26px;
line-height: 34px;
margin-top: ;
margin-bottom: 16px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox38 {
color: #000000;
font-size: 18px;
line-height: 30px;
}
.p-Home.TextBox156 {
color: #000000;
font-size: 18px;
line-height: 30px;
}
.p-Home.TextBox157 {
font-size: 26px;
line-height: 34px;
margin-top: ;
margin-bottom: 16px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image80 {
padding-bottom: 32px;
}
.p-Home.TextBox158 {
color: #000000;
font-size: 18px;
line-height: 30px;
}
.p-Home.TextBox159 {
font-size: 26px;
line-height: 34px;
margin-top: ;
margin-bottom: 16px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image81 {
padding-bottom: 32px;
}
.p-Home.TextBox160 {
color: #000000;
font-size: 18px;
line-height: 30px;
}
.p-Home.TextBox161 {
font-size: 26px;
line-height: 34px;
margin-top: ;
margin-bottom: 16px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image82 {
padding-bottom: 32px;
}
.p-Home.TextBox162 {
color: #000000;
font-size: 18px;
line-height: 30px;
}
.p-Home.TextBox163 {
font-size: 26px;
line-height: 34px;
margin-top: ;
margin-bottom: 16px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image83 {
padding-bottom: 32px;
}
.p-Home.TextBox164 {
color: #000000;
font-size: 18px;
line-height: 30px;
}
.p-Home.TextBox165 {
font-size: 26px;
line-height: 34px;
margin-top: ;
margin-bottom: 16px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image84 {
padding-bottom: 32px;
}
.p-Home.TextBox59 {
align-self: center;
font-size: 48px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Button60 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 24px;
border-radius: 0px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-top: 0px;
align-self: center;
}
.p-Home.Image61 {
height: 2rem;
}
.p-Home.Image85 {
flex-grow: 10;
margin-left: 16px;
height: 25rem;
}
.p-Home.TextBox166 {
font-size: 18px;
padding-left: ;
padding-right: ;
font-family: IBM Plex Sans;
font-weight: 400;
margin-bottom: ;
}
.p-Home.TextBox167 {
margin-top: 18px;
font-size: 26px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image86 {
flex-grow: 10;
margin-left: 16px;
height: 25rem;
}
.p-Home.TextBox173 {
margin-top: 18px;
font-size: 26px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox174 {
font-size: 18px;
padding-left: ;
padding-right: ;
font-family: IBM Plex Sans;
font-weight: 400;
margin-bottom: ;
}
.p-Home.TextBox136 {
;
}
.p-Home.TextBox168 {
font-size: 24px;
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-Home.Image63 {
height: 50px;
padding-left: 0px;
padding-right: ;
}
.p-Home.TextBox169 {
padding-right: 32px;
font-size: 18px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.TextBox170 {
padding-right: 32px;
font-size: 18px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.TextBox171 {
padding-right: 32px;
font-size: 18px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.TextBox172 {
padding-right: 32px;
font-size: 18px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.TextBox66 {
font-size: 48px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox70 {
font-size: 22px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox68 {
margin-right: 10px;
font-size: 48px;
border-bottom-width: 3px;
border-bottom-style: solid;
padding-bottom: 5px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox69 {
font-size: 48px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image41 {
height: 10rem;
padding-left: 20px;
flex-grow: 3;
box-sizing: border-box;
text-align: right;
}
.p-Home.TextBox175 {
font-size: 32px;
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-Home.TextBox213 {
font-size: 18px;
font-family: IBM Plex Sans;
font-weight: 400;
width: 28rem;
margin-top: 20px;
color: #686868;
margin-bottom: 20px;
line-height: 30px;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 18px;
padding-left: 0px;
padding-bottom: 18px;
padding-right: 0px;
color: #000000d9;
font-size: 18px;
background-color: #fff;
background-image: none;
border-width: 0px;
border-style: solid;
border-color: #000000;
border-radius: ;
margin-bottom: 31px;
font-family: IBM Plex Sans;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #010101;
outline-style: ;
outline-width: ;
}
.p-Home.Button71 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 0px;
padding-bottom: 8px;
padding-right: 0px;
font-size: 18px;
border-radius: 0px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
margin-top: 0px;
align-self: center;
}
.p-Home.Image87 {
height: 32px;
}
.p-Home.TextBox181 {
margin-bottom: 26px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
}
.p-Home.TextBox182 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox190 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox191 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox192 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox193 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox194 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox195 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox196 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox197 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox198 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox199 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox200 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox202 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox203 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
border-bottom-color: #000000;
border-bottom-width: 2px;
}
.p-Home.TextBox204 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox205 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox206 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox214 {
margin-bottom: 26px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
}
.p-Home.TextBox215 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 61px;
border-bottom-width: 0px;
border-bottom-style: ;
font-weight: 500;
}
.p-Home.TextBox216 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox217 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox218 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox219 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox220 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox221 {
line-height: ;
font-size: 18px;
font-family: IBM Plex Sans;
padding-bottom: 26px;
}
.p-Home.TextBox224 {
font-size: 18px;
font-family: IBM Plex Sans;
font-weight: 400;
color: #686868;
}
.p-Home.TextBox225 {
font-family: IBM Plex Sans;
font-weight: 500;
padding-left: ;
padding-right: ;
border-bottom-width: 1px;
border-bottom-style: solid;
margin-left: 10px;
margin-right: 5px;
font-size: 18px;
}
.p-Home.TextBox226 {
font-size: 18px;
font-family: IBM Plex Sans;
font-weight: 400;
color: #686868;
}
.p-Home.TextBox227 {
font-family: IBM Plex Sans;
font-weight: 500;
padding-left: ;
padding-right: ;
border-bottom-width: 1px;
border-bottom-style: solid;
margin-left: 10px;
margin-right: 5px;
font-size: 18px;
}
.p-Home.Image88 {
padding-left: 12px;
height: 36px;
}
.p-Home.Image89 {
padding-left: 12px;
height: 36px;
}
.p-Home.Image90 {
padding-left: 12px;
height: 35px;
}
.p-Home.Image91 {
padding-left: 12px;
height: 36px;
}
.p-Home.Image92 {
padding-left: 12px;
height: 36px;
}
.p-Home.Image93 {
padding-left: 12px;
height: 36px;
}
